@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
    background: rgba(20, 21, 25, 100);
    margin: 0px;
}

#chat {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    width: 643px;
    height: 350px;
    padding: 2px;
    margin-top: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.message {
    display: grid;
    grid-template-columns: minmax(5ch, 15ch) auto;
    grid-gap: 2ch;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
}

.name {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.data {
    text-align: left;
    margin-right: 1ch;
}